<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>285976757861-linha626rkua69cpr9q3shq2afsggn4m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.285976757861-linha626rkua69cpr9q3shq2afsggn4m</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>285976757861-ut3p20csr2kpm4vp5m45rcmlga1vp55g.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBGMDUzZC_pcLmltaaDfb2nDiiX-XsdjvQ</string>
	<key>GCM_SENDER_ID</key>
	<string>285976757861</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.megaplexstars.burnersixpack</string>
	<key>PROJECT_ID</key>
	<string>burnersixpack</string>
	<key>STORAGE_BUCKET</key>
	<string>burnersixpack.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:285976757861:ios:53e535497c5c28fb44e88c</string>
</dict>
</plist>